{% extends 'base.html.twig' %}

{% block title %}Edit Project{% endblock %}

{% block body %}
    <h1>Edit Project</h1>

    {{ include('project/_form.html.twig', {'button_label': 'Update'}) }}


    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <td>Name</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for doc in project.doc %}
            <tr>
                <td>{{ doc.docname }}</td>
                <td>
                    {{ include('project/_filedelete.html.twig') }}
                </td>
                <td>
                    <a class="btn-secondary btn"     href="{{ vich_uploader_asset(doc) }}">download</a>
                </td>
            </tr>

        {% else %}
            <td><em>no file attached</em></td>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <a class="btn btn-secondary" href="{{ path('project_index') }}">back to list</a>

    {{ include('project/_delete_form.html.twig') }}




{% endblock %}

